// Variables

// Screeen Size
$desktopView: 1400px;
$mobileView: 375px;

// Primary
$colorDarkBlue: hsl(243, 87%, 12%);
$colorDesaturatedBlue: hsl(238, 22%, 44%);

// Accents
$colorBrightBlue: hsl(224, 93%, 58%);
$colorModerateCyan: hsl(170, 45%, 43%);

// Neutral

$colorLightGrayBlue: hsl(240, 75%, 98%);
$colorLightGray: hsl(0, 0%, 75%);

// Typography
$fontOpenSans: "Open Sans", sans-serif;
$fontRaleway: "Raleway", sans-serif;

// Font Weight
$fontWeight400: 400;
$fontWeight700: 700;
