// ***** Reset Styling ***** \\
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Header Styling
@import "./header";

// Hero Styling
@import "./hero";

// About Styling
@import "./about";

// News Letter Styling
@import "./newsletter";

// Footer Styling
@import "./footer";

.container {
	padding: 15px;
}

.btn-form:hover {
	transform: translate3d(8px, 0px, 0px);
}
